.mainmenu ul li ul li a:hover {
    background: #49B9FF none repeat scroll 0 0;

}
.logo h3 span {
    background: #49B9FF;

}
.mainmenu ul li:hover > a {
    color: #49B9FF;
}
.mainmenu ul .current-page-item > a, .mainmenu ul li a:hover {
    color: #49B9FF;
}
.slicknav_nav {

    border-top: 2px solid #49B9FF;

}
.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover {
    background: #49B9FF none repeat scroll 0 0;

}
.section-title h2>span{
  color: #49B9FF;
}
.blog-sidebar .recent-posts-widget .date{
    color: #49B9FF;
}
.blog-sidebar .categories-widget ul li a:hover {
    color: #49B9FF;
}
.blog-sidebar .categories-widget ul li a:hover {
    color: #49B9FF;
}
.blog-details-post .tag-social-share .tag a:hover {
  background-color: #49B9FF;
  border-color: #49B9FF;
  color: #fff;
}
.f-address li i {
    color: #49B9FF;
}
.blog-details-post .tag-social-share .social-share .social-links a:hover {
  background-color: #49B9FF;
  border-color: #49B9FF;
  color: #fff;
}
.blog-details-post .comments-area .review a {
  color: #49B9FF;
}
  .navbar-yoyo .navbar-header .navbar-toggle .icon-bar {
    background: #49B9FF;

}
.primary-bg {
  background: #49B9FF;
}
.section-title .s-title-icon{
color: #49B9FF;
}
.s-title-icon:before,
.s-title-icon:after{
background: #49B9FF;
}
.hvr-shutter-out-vertical {
background: #49B9FF;
}
.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
   background: #49B9FF;
}
.navbar-yoyo .navbar-collapse .navbar-nav li a:hover {
  color: #49B9FF;
}
.navbar-yoyo .navbar-collapse .navbar-nav li.dropdown .dropdown-menu > li > a:hover {
  color: #49B9FF;
}

.navbar-yoyo .navbar-collapse .navbar-nav li.dropdown:hover:before {
  color: #49B9FF;
}
.navbar-yoyo .navbar-collapse .navbar-nav li.dropdown.mega-holder .dropdown-menu.mega-menu li a:hover {
  background: #49B9FF;
}
.navbar-yoyo .navbar-collapse .navbar-nav li.nav-search:hover {
  color: #49B9FF;
}
.cpf-big-nav-address-block .cpf-header-contact-block .cpf-header-contact p a:hover {
  color: #49B9FF;
}

.yoyo-big-nav-navigation {
  background: #49B9FF;
}
.yoyo-big-nav-navigation .navbar-collapse .navbar-nav li.dropdown .dropdown-menu > li > a:hover {
  background: #49B9FF;

}
.yoyo-big-nav-navigation .navbar-collapse .navbar-nav li.dropdown:hover:before {
  color: #49B9FF;
}
.yoyo-big-nav-navigation .navbar-collapse .navbar-nav li.dropdown.mega-holder .dropdown-menu.mega-menu li a:hover {
  background: #49B9FF;

}
.color-handle i{
color: #49B9FF;
}
.slide-control-mr:hover {

    background: #49B9FF;
    border: 1px solid #49B9FF;
}
.slide-control-mr:hover {

    background: #49B9FF;
    border: 1px solid #49B9FF;
}
.slider-con h1 span {
    color: #49B9FF;
}
.carousel-indicators .active {
    background-color: #49B9FF;
    border: 2px solid #49B9FF;


}
.page-title .breadcrumb ul li a:hover {
  color: #49B9FF;
}
.image-contact-list li i {
  color: #49B9FF;


}
.team-img ul{
background: rgba(5,93,182,.5);
}
.team-img ul li a:hover{
  background: #49B9FF;
  color: #49B9FF;

}
.team-content{
  background: #49B9FF;
}
.service-grid-s1 .grid:after{

  background:#49B9FF;

}
.service-grid-s1 .grid:hover{
  border-color: #49B9FF;
}
.service-grid-s1 .grid  .icon i {
color: #49B9FF;

}
.counter-item span{

  color: #49B9FF;

}
.team-img ul li a:hover{
  background: #fff;
  color: #49B9FF;

}
.portfolio-filter > li a {
   border:1px solid #49B9FF;

}
.portfolio-filter > li.active a,
.portfolio-filter > li a:hover
{

  border:1px solid #49B9FF;
  background: #49B9FF;

}
.portfolio-cat a:hover{
  color: #49B9FF;

}
.portfolio-style-2 .portfolio-description h4 a:hover, 
.portfolio-style-2 .portfolio-cat a:hover {
  color: #49B9FF;
}
.testimonial-thumb{
border:5px solid #49B9FF;
}
.testimonial-item.style-4 .review-txt>span{

  color: #49B9FF;

}

.error-text{
 text-align: center;
 color: #49B9FF;
}
.accordion-s1 .panel-heading a, .accordion-s2 .panel-heading a {
  background-color: #49B9FF;
}
.blog-sidebar .widget > h3:after {

  background-color: #49B9FF;

}
.blog-sidebar .search-widget button:hover {
  color: #49B9FF;
}
.blog-sidebar .tags-widget div > a:hover {
  background-color: #49B9FF;

  border-color: #49B9FF;
}
.social-profile-blog li a:hover{
    border:1px solid #49B9FF;

  background: #49B9FF;
}
.contact-info span i{
   color: #49B9FF;
}
.blog-grids-s2 .entry-meta ul li i {
  color: #49B9FF;
}

.blog-grids-s2 .entry-details a{
  color: #49B9FF;

}
.blog-grids-s2 .entry-details a:hover{
  color: #49B9FF;
}
.blog-grids-s2 .entry-details a:hover {
  color: #49B9FF;
}
.blog-details-post .entry-body blockquote {
 
    border-color: #49B9FF;

}
.blog-details-post .comments-area .comment-author-metadata img{

  border:3px solid #49B9FF;

}
.blog-details-post .comment-respond .comment-form input:focus,
.blog-details-post .comment-respond .comment-form textarea:focus{
   border-color: #49B9FF;
}
 .contact-info:after {

    background: #49B9FF;

}
 .contact-team h3 span{
  color:#49B9FF;
 }
   .contact-form input:focus{

    border-color:#49B9FF;
    
  }
  .contact-form textarea:focus{

    border-color:#49B9FF;
    
  }
.nav-custom li a:hover{
 border:1px solid #49B9FF;
 background: #49B9FF;


}
.nav-custom li.active a,
.nav-custom li.active a:focus,
.nav-custom li.active a:hover{
   border:1px solid #49B9FF;
   background: #49B9FF;


}
.pagi ul .active a,
.pagi ul li a:hover {
  background-color: #49B9FF;
  border:1px solid #49B9FF;
}
.useful-links li i{
 color: #49B9FF;
}
.useful-links li a:hover{
  color: #49B9FF;
}
.newsletter-btn:hover{
  color: #49B9FF;
}
.twitter-widget-item a:hover .twitter-icon{
  background: #49B9FF;
  border-color:#49B9FF;
}
.twitter-widget-item a:hover{
  color: #49B9FF;
}
.social-profile li a:hover{

  background: #49B9FF;
}
.copyright-text a{
  color: #49B9FF;

}
.owl-item.center .rate{
    color: #49B9FF;
  border:5px solid #49B9FF !important;
}
.active-pricing .rate{
  color: #49B9FF;
  border:5px solid #49B9FF !important;
}
.proggress{
  background-color:#49B9FF !important
}
.member-social li a{
border:1px solid #49B9FF;
color: #49B9FF;
}
.member-social li a:hover{
  border:1px solid #49B9FF;
  background: #49B9FF;
}
.pricing-item .pricing-heading{
  background:#49B9FF ;

}
.pricing-item:hover .rate .amount,.pricing-item:hover .rate .validity{
  color: #49B9FF;
}
.pricing-item:hover .pricing-body .rate{
  border:5px solid #49B9FF;
}
.text span{
  color: #49B9FF;
}
.logo-text span{
  background: #49B9FF;

}

.logo-text1 span{
  background: #49B9FF;
}
.faq-text h1{
  color:#49B9FF;
}
.faq-text span{
   color:#49B9FF;
}
.text span{
  color: #49B9FF;
}